<%= form_with model: user do |form| %>
    <div class="mt-3">
    <%= form.label :username %><br>
    <%= form.text_field :username %>
    <% user.errors.full_messages_for(:username).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

    <div class="mt-3">
    <%= form.label :email %><br>
    <%= form.text_field :email %>
     <% user.errors.full_messages_for(:username).each do |message| %>
      <div><%= message %></div>
   <% end %>
  </div>

   <div class="mt-3 mb-3">
    <%= form.label :password %><br>
    <%= form.password_field :password %>
     <% user.errors.full_messages_for(:password).each do |message| %>
      <div><%= message %></div>
   <% end %>
  </div>
  <%= form.submit "Create user", class: 'btn btn-primary' %>

<% end %>